 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <header th:replace="layout/plantilla :: header"/>
    <h2>Nuestros Articulos</h2> 
    <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
    <div th:if="${articulos != null and !articulos.empty}">  
        <table border="1">
            <thead>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Existencias</th>
            <th>Activa</th>
            </thead>
            <tbody >
                <tr th:each="articulo : ${articulos}">
                    <td th:text="${articulo.descripcion}"></td>;
                    <td th:text-"$ (articulo.descripcion] "></td>
                    <td thitext="$ (fnumbers. formatDecimal (articulo precio, 3,2) |" style="text-align: right"›</td>
                    <td thitext-"$ (articulo.existencias]" style="text-align: center"></td>
                    <td><input type="checkbox" name= "activa" chichecked "S(articulo. activo]" disabled-"true"></td>

                    <td><a th:href="@{/articulo/modificar/} + ${articulo.idArticulo}">Modificar<a/></td>
                    <td><a th:href="@{/articulo/eliminar/} + ${articulo.idArticulo}">Eliminar<a/></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${articulos == null or articulos.empty}"> 
        No tenemos articulos que mostrar...  
    </div> 
    <footer th:replace="layout/plantilla :: footer" />
<body>
</html>